body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.back-button {
  margin-bottom: 20px;
}

.profile-section, .follow-up-info, .treatment-info, .follow-up-history {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Profile Section */
.profile-section {
  display: flex;
  flex-direction: column;
}

.patient-profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.patient-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.patient-profile div {
  line-height: 1.6;
}

/* Section Headers */
h3 {
  font-size: 18px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.follow-up-info h3 {
  color: #4CAF50;
  border-bottom: 2px solid #4CAF50;
}

.treatment-info h3 {
  color: #FF5252;
  border-bottom: 2px solid #FF5252;
}

.follow-up-history h3 {
  color: #2196F3;
  border-bottom: 2px solid #2196F3;
}

.green-status {
  color: #4CAF50;
}

.blue-status {
  color: #2196F3;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}


/* Back Button */
.back-button button {
  background: none;
  border: none;
  color: #6c757d;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.back-button button i {
  font-size: 18px;
  margin-right: 8px;
}

.back-button button:hover {
  color: #343a40;
}




