.history-container {
    width: 93.5%;
    margin: auto;
    margin-top: 15px;
    padding: 20px;
    margin-left: 89px;
}

.history {
    display: flex;
    flex-direction: column;
}

.activity {
    display: flex;
    flex-direction: column;
    /* Stack content vertically */
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.left {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Add some space below the left section */
}

.activity-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.details {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    color: #000000;
    margin: 0;
    font-size: 16px;
}

.subtitle {
    color: #888;
    font-size: 14px;
    margin: 0;
}

.right {
    position: absolute;
    top: 20px;
    /* Position at the top */
    right: 25px;
    /* Align to the right */
    text-align: right;
    /* Align text to the right */
}

.date,
.time {
    margin: 0;
    color: #636363;
    font-size: 14px;
}

.date {
    font-weight: normal;
    margin-bottom: 5px;
}