* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f7f7f7;
}

.patient-container {
    width: 80%;
    max-width: 1200px; /* กำหนดความกว้างสูงสุด */
    min-width: 300px; /* กำหนดความกว้างต่ำสุดเพื่อป้องกันไม่ให้เล็กเกินไป */
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* ปรับขนาดสำหรับหน้าจอที่เล็กลง */
@media (max-width: 768px) {
    .patient-container {
        width: 90%; /* ใช้พื้นที่ให้มากขึ้นในหน้าจอเล็ก */
        padding: 20px; /* ลดระยะขอบภายใน */
    }
}

@media (max-width: 767px) {
    .patient-container {
        margin: 20px auto; /* ลดระยะขอบด้านบนและล่าง */
        padding: 15px; /* ลด Padding เพิ่มเติม */
    }
}

.step-indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.step {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    color: #999;
    font-size: 14px;
    border-bottom: 2px solid #eee;
}

.step.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.addinfo h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #555;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.form-group input,
.form-group select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    width: 100%;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #007bff;
}

.button {
    display: flex;
    justify-content: flex-end; 
}

.save-btn {
    padding: 6px 20px;
    background-color: #5D97EF;
    border: 2px solid #5D97EF;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

/* .next-btn:hover {
    background-color: #0056b3; 
    color: white;
} */

.addimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.image-label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-label img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ddd;
    object-fit: cover;
}

.image-label span {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
} 