.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Allows the search bar to wrap on smaller screens */
}

.search-bar input, .search-bar select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: calc(25% - 10px); /* Adjust the width to fit in a row */
    min-width: 200px; /* Ensure minimum size for each input */
}

.search-bar button {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
}

@media screen and (max-width: 768px) {
    .search-bar input, .search-bar select {
        width: calc(50% - 10px); /* Adjust width on smaller screens */
    }

    .search-bar button {
        width: 100%; /* Full width button for smaller screens */
    }
}
