/* CSS for Button */
.add-icon {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.add-icon a i {
    color: white; /* เปลี่ยนสีไอคอนเป็นสีขาว */
    font-size: 16px;
  }

/* Popup Background */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

/* Popup Box */
.popup-content {
  background: #fff;
  width: 450px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.popup-header input[type="text"] {
  width: 60%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.popup-header select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.popup-content h3 {
  margin-top: 0;
  font-size: 18px;
}

.patient-list {
  margin-top: 15px;
  max-height: 200px;
  overflow-y: auto;
}

.patient-list table {
  width: 100%;
  border-collapse: collapse;
}

.patient-list th,
.patient-list td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  
}

.patient-list th {
  background-color: #f2f2f2;
}

/* Footer Section */
.popup-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.popup-footer p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.close-btn {
  background: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Checkbox Styling */
.patient-list input[type="checkbox"] {
  cursor: pointer;
}
