.container {
  display: flex;
  justify-content: space-between;
  padding-left: 6.7%;
  padding-right: 10%;
  padding-top: 20px;
}

.box {
  flex: 1;
  min-width: 450px;
  margin: 0 10px;
  padding: 20px;
  border-radius: 8px;
  color: #fff; /* White text color */
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 30px; /* Size of the icon */
  margin-bottom: 10px;
}

.box1 {
  background-color: #5D97EF; /* Blue */
}

.box2 {
  background-color: #f14fde; /* Yellow */
}

.box3 {
  background-color: #f55446; /* Red */
}

.box h2 {
  font-size: 24px;
  margin: 0;
}

.box p {
  margin: 0;
}
