.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
  /* Adjust the spacing between the bell icon and profile details */
}

.icon-button {
  position: relative;
  color: #1d1b31;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(234, 234, 234);
}

.icon-button:hover {
  background-color: #b4b4b4;
}

.sidebar.open~.top {
  left: 250px;
  width: calc(100% - 250px);
}

.top .text {
  display: inline-block;
  color: #151D48;
  font-size: 28px;
  font-weight: 800;
  margin: 10px;
  margin-left: 30px;
}

.top nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: hsl(0, 0%, 100%);
  align-items: center;
  /* position: fixed; */
  /* z-index: 100; */
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  position: relative;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  z-index: 2;
}

.top nav .profile-details {
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}


/* เริ่มซ่อนไว้ก่อน */
.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* แสดงข้อความด้านบนของโปรไฟล์ */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

/* แสดง tooltip เมื่อ hover */
.profile-details:hover .tooltip {
  visibility: visible;
  opacity: 1;
}