.icon-button {
    position: relative;
    color: #1d1b31;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(234, 234, 234);
    margin-left: 129px;
    margin-right: -900px;
}

.icon-button:hover {
    background-color: #5D97EF;
}

  /* .top-section{
    position: relative;
    background: #1e344a;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  } */

  .sidebar.open ~ .top{
    left: 250px;
    width: calc(100% - 250px);
  }
  .top .text{
    display: inline-block;
    color: #151D48;
    font-size: 25px;
    font-weight: 900;
    margin: 10px;
  }
  .top nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: hsl(0, 0%, 100%);
    align-items: center;
    /* position: fixed; */
    /* z-index: 100; */
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    z-index: 2;
  }
  
  .top nav .profile-details{
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
  }
  @media (max-width: 700px) {
    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i{
      display: none;
    }
    .top nav .profile-details{
      height: 50px;
      min-width: 40px;
    }
    .top .sales-boxes .sales-details{
      width: 560px;
    }
  }
  @media (max-width: 550px) {
    .overview-boxes .box{
      width: 100%;
      margin-bottom: 15px;
    }
    .sidebar.active ~ .top nav .profile-details{
      display: none;
    }
  }
  nav .profile-details img{
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
  }
  nav .profile-details .admin_name{
    font-size: 13px;
    font-weight: 500;
    color: #333;
    margin: 0 25px;
    white-space: nowrap;
  }
  nav .profile-details i{
    font-size: 25px;
    color: #333;
  }