.stats-container {
  display: flex;
  justify-content: space-between;
  padding-left: 6.7%;
  padding-right: 10%;
  padding-top: 20px;
  

  @media (max-width: 600px) {
    justify-content: center; /* สำหรับหน้าจอมือถือ */
    padding-left: 3%;
    padding-right: 3%;
    flex-wrap: wrap;
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    justify-content: space-around; /* ปรับตามขนาดแท็บเล็ต */
    padding-left: 20%;
    flex-wrap: wrap;
  }
}

.box {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 450px;
  margin: 10px;
  flex-grow: 1; /* ให้ขยายเต็มที่เท่าที่ทำได้ */

  @media (max-width: 600px) {
    flex-direction: column; /* เมื่อหน้าจอเล็ก เปลี่ยนเป็นคอลัมน์ */
    min-width: 100%; /* ให้เต็มความกว้างของหน้าจอมือถือ */
    text-align: center; /* จัดกลางข้อความ */
  }
}

.box i {
  font-size: 40px;
  margin-right: 30px;

  @media (max-width: 600px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.box h2 {
  margin: 10px;
  font-size: 24px;
  color: #333;
}

.box p {
  margin: 5px 0 0 0;
  color: #525252;
  margin: 10px;
}

.new-order i {
  color: #5DA3FA;
  margin: 0 10px;
}

.visitors i {
  color: #16bc19;
  margin: 0 10px;
}

.total-sales i {
  color: #FA5A7D;
  margin: 0 10px;
}
