.stats-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-left: 5%;
  width: 100%;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 450px;
  margin: 0 10px;

}

.box2 {
  /* background-color: #DCFCE7; */
}

.box3 {
  /* background-color: #FFE2E5; */
}

.box i {
  font-size: 40px;
  margin-right: 30px;
}

.box h2 {
  margin: 10px;
  font-size: 24px;
  color: #333;
}

.box p {
  margin: 5px 0 0 0;
  color: #525252;
  margin: 10px;
}

.new i {
  color: #5DA3FA;
  margin: 0 10px;
}

.success i {
  color: #16bc19;
  margin: 0 10px;
}

.unsuccess i {
  color: #FA5A7D;
  margin: 0 10px;
}

/* CSS for mobile devices */
@media (max-width: 768px) {

  .box {
    width: 100%;
    font-size: 0.9rem;
    padding: 10px;
  }
}