.container {
  width: 90.6%; /* Ensure the container takes full width */
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Center the container */
  margin-left: 110px;
}