.table-container {
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  align-items: center;
  width: 91%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  /* Center the container */
  margin-left: 110px;
}

.datatable {
  min-width: 100%;
}

.patient-table {
  width: 100%;
  /* Ensure the table fits within the container */
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
  overflow-x: auto;
}

.patient-table thead tr {
  background-color: #ececec;
  color: #5D97EF;
}

.patient-table th,
.patient-table td {
  padding: 15px;
  padding-right: 33px;
  border-bottom: 1px solid #F4F4F4;

}

.patient-table tbody tr {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.patient-table tbody tr:last-of-type {
  border-bottom: 2px solid #f4f4f4;
}

.patient-table img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}


.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
}

.status.uncomplete {
  background-color: #F4E1E1;
  color: #BB4242;
  font-weight: bold;
}

.status.in-progress {
  background-color: #FFF5C2;
  color: #E99050;
  font-weight: bold;
}

.status.continue {
  /* background-color: #F4E1ED; */
  color: #BB4292;
  font-weight: bold;
}

.status.completed {
  background-color: #E1F4E1;
  color: #5F8D4E;
  font-weight: bold;
}

.status.sucess {
  /* background-color: #E3F5FF; */
  color: #5D97EF;
  font-weight: bold;
}

.status.unsucess {
  /* background-color: #dddddd; */
  color: #626262;
}

.status.failed {
  background-color: #e5e1f4;
  color: #634e8d;
  font-weight: bold;
}

.status.other {
  color: #c0c0c0;
}

.action-btn {
  position: relative;
  color: #1d1b31;
  border: none;
  padding: 3px 8px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(241, 241, 241);
  margin-left: 15px;
}

.action-btn:hover {
  background-color: #5D97EF;
  color: #F4F4F4;
} 
=======
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    /* Center the container */
    margin-left: 110px;
  }
  
  .datatable {
    min-width: 100%;
  }
  
  .patient-table {
    width: 100%;
    /* Ensure the table fits within the container */
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
    overflow-x: auto;
  }
  
  .patient-table thead tr {
    background-color: #ececec;
    color: #5D97EF;
  }
  
  .patient-table th,
  .patient-table td {
    padding: 15px;
    padding-right: 33px;
    border-bottom: 1px solid #F4F4F4;
  
  }
  
  .patient-table tbody tr {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .patient-table tbody tr:last-of-type {
    border-bottom: 2px solid #f4f4f4;
  }
  
  .patient-table img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .status.uncomplete {
    background-color: #F4E1E1;
    color: #BB4242;
  }
  
  .status.in-progress {
    background-color: #FFF5C2;
    color: #E99050;
  }
  
  .status.continue {
    background-color: #F4E1ED;
    color: #BB4292;
  }
  
  .status.completed {
    background-color: #E1F4E1;
    color: #5F8D4E;
  }
  
  .status.sucess {
    background-color: #E3F5FF;
    color: #5D97EF;
  }
  
  .status.unsucess {
    background-color: #dddddd;
    color: #626262;
  }
  
  .status.other {
    background-color: #e5e1f4;
    color: #634e8d;
  }
  
  .action-btn {
    position: relative;
    color: #1d1b31;
    border: none;
    padding: 3px 8px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
    margin-left: 15px;
  }
  
  .action-btn:hover {
    background-color: #5D97EF;
    color: #F4F4F4;
  } 
>>>>>>> 66d56798c43af83ae6c72c3a51642cd333ec7b1d
