.stats-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  /* margin-left: 80px;  */
  width: 98%;
  align-items: center;
  /* margin-left: 50px; อันเดิมคืออันนี้  */
  margin-left: 15px;
}

.box {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* min-width: 300px;
  max-width: 500px; */
  flex: 1 1 calc(33.33% - 20px);
  margin: 10px;
}


#main {
  margin-left: 78px;
}

@media(max-width: 767px) {
  #main {
    margin-left: 0;
    margin-top: 80px;
  }
  .sidebar {
    left: -78px;
  }
  .sidebar.open {
    left: 0;
  }
  .sidebar:not(.open) .logo-details #btn {
    position: fixed;
    top: 0px;
    left: 0px;
    right: unset;
    transform: none;
    width: 78px;
    height: 80px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .admin_name {
    display: none;
  }
}


@media only screen and (max-width: 767px) {
  
  .stats-container {
    flex-direction: column; /* จัดกล่องในแนวตั้ง */
    align-items: center; /* จัดให้อยู่กึ่งกลาง */
    gap: 10px; /* เพิ่มระยะห่างระหว่างกล่อง */
  }

  .box {
    width: 70%; /* ให้กล่องใช้พื้นที่เต็มหน้าจอ */
    max-width: 90%; /* จำกัดความกว้างกล่อง */
    text-align: center;
  }
  
}

.box i {
  font-size: 40px;
  margin-right: 20px;
}

.box h2 {
  margin: 10px;
  font-size: 24px;
  color: #333;
}

.box p {
  margin: 10px;
  color: #525252;
}

/* Responsive สำหรับหน้าจอขนาด 601px - 1024px */

.new-order i {
  color: #5da3fa;
  margin: 0 10px;
}

.visitors i {
  color: #16bc19;
  margin: 0 10px;
}

.total-sales i {
  color: #fa5a7d;
  margin: 0 10px;
}

